<link rel= "stylesheet" href="<%= assetPath('css/chat_box.css') %>">
<% if(locals.user){%> 

    <div id= "friend-chat-box" class="hide-box">
        <div class="chat-box-header">
            <h2 class= "chat-box-name"></h2>
            <div class= "delete-box">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div id="chat-box-body">
            
        </div>
        <div class="chat-box-footer">
            <form>
                <input type="text" id= "chat-message" placeholder= "Type message here..." required>
                <button id="message-send">Send</button>
            </form>
        </div>
    </div>

<%}%>
<script src= "<%= assetPath('js/chat_box.js') %>"></script>