<link rel= "stylesheet" href="/css/chat_box.css">
<% if(locals.user){%> 

    <div class="chat-box">
        <div class="chat-box-header">
            
        </div>
        <div class="chat-box-body">

        </div>
        <div class="chat-box-footer">
            <form>
                <input type="text" required>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>

<%}%>