<link rel= "stylesheet" href="/css/chat_box.css">
<% if(locals.user){%> 

    <div id= "friend-chat-box" class="hide-box">
        <div class="chat-box-header">
            <div class= "delete-box">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div id="chat-box-body">
            <div class="others-message">
                <span>Other message</span>
            </div>
            <div class="my-message">
                <span>My message</span>
            </div>
        </div>
        <div class="chat-box-footer">
            <form>
                <input type="text" id= "chat-message" placeholder= "Type message here..." required>
                <button id="message-send">Send</button>
            </form>
        </div>
    </div>

<%}%>
<script src= "/js/chat_box.js"></script>