<link rel= "stylesheet" href="/css/header.css">
<header>
    <h1 class="left">Socialize</h1>
    <div class="right">
      <% if(locals.user){%> 
        <p id= "user-name">Hi, <%= user.name %></p>
        <a href="/user/destroy" id= 'signup-btn'>Log Out</a>
      <%}else{%>
        <a href="/user/sign-in" id= "login-btn">Log In</a>
        <a href="/user/sign-up" id= 'signup-btn'>Sign Up</a>
      <%}%>
    </div>
</header>

