<link rel= "stylesheet" href="/css/header.css">
<header>
  <a href="/" class="home"><h1 class="left">Socialize</h1></a>
  <div class="right">
      <% if(locals.user){%> 
          <a id= "user-name"  href="/user/profile/<%= user._id %>">Hi, <%= user.name %></a>
          <a href="/user/log-out" id= 'signup-btn'>Log Out</a>
        <%}else{%>
          <a href="/user/sign-in" id= "login-btn">Log In</a>
          <a href="/user/sign-up" id= 'signup-btn'>Sign Up</a>
        <%}%>
  </div>
</header>



