<link rel="stylesheet" href="<%= assetPath('css/reset_password.css') %>">

<form action="/auth/reset?accessToken=<%=accessToken%>" method="POST" class="login-form">
    <div class="verify">Change Password</div>
    <% if(false){ %>
    <div class="alert error-dailog">Error</div>
    <% } %>
    <div class="input">
      <input type="password" name="password" placeholder="New Password" required />
    </div>
    <div class="input">
      <input type="password" name="confirm_password" placeholder="Confirm Password" required />
    </div>
    <div class="input">
      <input type="submit" value="Change"/>
    </div>
</form>
  
  