<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<link rel="stylesheet" href="/css/sign_up.css">
<div class= "background">
    <div class= "form-box">
        <div class= "button-box">
            <div id= "btn-login" type= "button" class= "toggle-btn" onclick="handleLogin()">Log In</div>
            <div id= "btn-signup" type= "button" class= "toggle-btn active-btn" onclick="handleRegister()">Sign Up</div>
        </div>
        <form id= "login" class= "input-group" method="POST" action="/user/create-session">
            <input name= "email" class="input-field" type="text" required placeholder="Email">
            <input name= "password" class= "input-field" type= "password" required placeholder="password">
            <div class="or-option">
                <div class= "left">
                </div>
                <div class="or">OR</div>
                <div class="right">
                </div>
            </div>
            <a href="/user/auth/google" class="google-sign-up">
                <span><img src= "https://image.flaticon.com/icons/png/128/2702/2702602.png"></span>
                Sign In With Google
            </a>
            <input type= "submit" class= "submit-btn" value= "Log In"> 
        </form>
        <form id= "register" class= "input-group" method="POST" action="/user/create">
            <input name= "name" class="input-field" type="text" required placeholder="Name">
            <input name= "email" class="input-field" type="email" required placeholder="Email">
            <input name= "password" class= "input-field" type= "password" required placeholder="password">
            <input name= "confirm_password" class= "input-field" type= "password" required placeholder="Confirm Password">
            <div class="or-option">
                <div class= "left">
                </div>
                <div class="or">OR</div>
                <div class="right">
                </div>
            </div>
            <a href="/user/auth/google" class="google-sign-up">
                <span><img src= "https://image.flaticon.com/icons/png/128/2702/2702602.png"></span>
                Sign In With Google
            </a>
            <input type= "submit" class= "submit-btn" value= "Sign Up"> 
        </form>
    </div>
</div>
<script src= "/js/sign_up.js"></script>