<div>
    <h2><strong>Hi <%= user.name %>!</strong></h2>
    <br>
    <p>Welcome to socialize. We are really happy to have you onboard. You can find some new friends on socialize.</p>
    <br>
    <p><strong>Thanks!</strong></p>
</div>