header {
  position: sticky;
  top: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 3px 3px lightgray;
  z-index: 4;
}

.home {
  text-decoration: none;
}

header .left {
  color: blue;
  margin-left: 40px;
  padding: 12px;
}

header .right {
  padding: 12px;
}

header .right a {
  margin: 0px 20px;
  padding: 8px 20px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 700;
}
