header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px 3px lightgray;
    z-index: 4;
}

header .left{
    color: blue;
    margin-left: 40px;
}

/* header .right{
    display: flex;
} */
header .right a{
    margin: 0px 20px;
    padding: 8px 20px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
}

#signup-btn{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    transition: 0.5s;
}
#signup-btn:hover{
    background-color: #1484D6;
    border: 1px solid #1484D6;
}
#login-btn{
    color: blue;
}

#user-name{
    color: blue;
    margin: 0px 20px;
    display: inline;
    font-weight: 700;
    font-size: 1.1rem;
}