.home-container {
  width: 100%;
  display: flex;
  background-color: #DAE0E6;
}

.home-middle {
  width: 40%;
  margin: 30px 10px;
}

.home-middle .post-creating-form {
  margin: 30px;
  width: 100%;
  box-shadow: 0px 0px 3px 2px lightgray;
  background-color: white;
  position: relative;
  height: 125px;
}

.home-middle .post-creating-form .post-content {
  width: 80%;
  margin-left: 50px;
  padding: 20px;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
}

.home-middle .post-creating-form input[type="submit"] {
  padding: 10px 15px;
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 10px;
  position: absolute;
  right: 30px;
  border-radius: 10px;
}

.home-middle .all-posts {
  margin: 10px;
  width: 100%;
}

.home-middle .all-posts .post-card {
  margin: 30px 10px;
  box-shadow: 0px 0px 3px 2px lightgray;
  background-color: white;
}

.home-middle .all-posts .post-card .post-card-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.home-middle .all-posts .post-card .post-card-header .post-card-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.home-middle .all-posts .post-card .post-card-header .post-card-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.home-middle .all-posts .post-card .post-card-header .post-card-dots {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}

.home-middle .all-posts .post-card .post-card-header .post-card-delete {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 48px;
}

.home-middle .all-posts .post-card .post-card-header .post-card-delete a {
  text-decoration: none;
  padding: 10px;
  color: black;
  border: 0.5px solid black;
}

.home-middle .all-posts .post-card .post-card-header .active {
  display: block;
}

.home-middle .all-posts .post-card .post-card-content {
  margin: 10px;
}

.home-middle .all-posts .post-card .post-card-content .image-content {
  width: 98%;
  margin: 10px auto;
  max-height: 600px;
}

.home-middle .all-posts .post-card .post-card-content .image-content img {
  width: 100%;
  max-height: 600px;
}

.home-middle .all-posts .post-card .post-card-likes {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.home-middle .all-posts .post-card .post-card-likes div {
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.home-middle .all-posts .post-card .post-card-likes div span {
  margin: 10px;
  font-weight: 700;
  font-size: 0.9rem;
}

.home-middle .all-posts .post-card .post-card-comments {
  border-top: 0.2px solid gray;
}

.home-middle .all-posts .post-card .post-card-comments form {
  margin: 0px 50px;
  padding: 10px 0px;
}

.home-middle .all-posts .post-card .post-card-comments form input[type="text"] {
  width: 80%;
  padding: 8px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #F0F2F5;
  color: white;
}

.home-middle .all-posts .post-card .post-card-comments form input[type="submit"] {
  padding: 10px;
  color: white;
  background-color: green;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.home-middle .all-posts .post-card .post-card-comments .comments-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0px;
}

.home-middle .all-posts .post-card .post-card-comments .comments-container .user-comment-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  border: 0.3px solid black;
}

.home-middle .all-posts .post-card .post-card-comments .comments-container .user-comment-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.home-middle .all-posts .post-card .post-card-comments .comments-container .show-comments {
  margin-left: 5px;
  width: 80%;
  padding: 8px;
  border-radius: 20px;
  background-color: #F0F2F5;
}

.home-middle .all-posts .post-card .post-card-comments .comments-container .show-comments .comment-user-name {
  font-weight: 700;
}

.home-middle .all-posts .post-card .post-card-comments .comments-container .show-comments .comment-content {
  padding: 0px 10px;
}

.delete-post-pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.delete-post-pop-up .pop-up-card {
  width: 500px;
  height: 160px;
  margin: 15% auto;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.delete-post-pop-up .pop-up-card .pop-up-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid black;
}

.delete-post-pop-up .pop-up-card .pop-up-header h2 {
  padding: 8px 10px;
}

.delete-post-pop-up .pop-up-card .pop-up-header div {
  padding: 8px 10px;
  cursor: pointer;
  transform: rotate(45deg);
  font-size: 2rem;
  color: gray;
}

.delete-post-pop-up .pop-up-card .pop-up-content p {
  padding: 10px 8px;
}

.delete-post-pop-up .pop-up-card .pop-up-buttons {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.delete-post-pop-up .pop-up-card .pop-up-buttons p {
  color: blue;
  cursor: pointer;
  font-weight: 700;
  display: inline;
  margin-right: 30px;
}

.delete-post-pop-up .pop-up-card .pop-up-buttons a {
  text-decoration: none;
  padding: 8px 15px;
  color: white;
  background-color: blue;
}

.active-delete-pop-up {
  display: block;
}
